<a href="https://colab.research.google.com/github/robinkm0610/Machine_learning_dump/blob/main/Machine_Learning/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print Function

In [2]:
print("Machine Leanring")

Machine Leanring

In [3]:
print(8)

8

#Basic Data Types
1. int
2.float
3.str

In [4]:
type(8)

int

In [5]:
type(5.3)

float

In [6]:
type("english")

str

#Constants & Variables

In [9]:
super_hero = "Iron Man"
print(super_hero)

Iron Man

In [10]:
hero1, hero2, hero3 = "Iron Man","Captain America", "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [11]:
x=y=z =23
print(x)
print(y)
print(z)

23
23
23

#Input Function

In [14]:
num_1 = input("Enter the first number: ")
num_2 = input("Enter the second number: ")
sum = num_1 + num_2
print(sum)

Enter the first number: 23
Enter the second number: 23
2323

In [15]:
num_1 = int(input("Enter the first number: "))
num_2 = int(input("Enter the second number: "))
sum = num_1 + num_2
print(sum)

Enter the first number: 23
Enter the second number: 23
46

In [16]:
num =5
print(float(num))

5.0

#Basic Data Types in Python
1. Integer
2. Floating Point
3. Complex
4. Boolean
5. String

In [17]:
#integer
a =8
print(a)
print(type(a))

8
<class 'int'>

In [18]:
#flaoting point
a =8.5
print(a)
print(type(a))

8.5
<class 'float'>

In [19]:
#complex numbers
a =8 + 3j
print(a)
print(type(a))

(8+3j)
<class 'complex'>

In [20]:
#conversion of one data type to another
x = 10
print(x)
type(x)

10

int

In [23]:
y = float(x)
print(y)
type(y)

10.0

float

In [24]:
#float to int
x = 5.88
print(x)
type(x)

5.88

float

In [25]:
y = int(x)
print(y)
type(y)

5

int

In [26]:
#Boolean - True/False
a = True
print(a)
type(a)

True

bool

In [27]:
b = False
print(b)
type(b)

False

bool

In [28]:
a = 7 < 3
print(a)
type(a)

False

bool

In [29]:
a = 7 > 3
print(a)
type(a)

True

bool

#String

In [30]:
print("Machine Learning")

Machine Learning

In [31]:
my_str = "Machine Learning"

In [32]:
type(my_str)

str

In [33]:
print("Hello "*5)

Hello Hello Hello Hello Hello

In [34]:
#Slicing
my_str = "Programming"
print(my_str[1:5])

rogr

In [35]:
#slicing with step
print(my_str[0:10:2])

Pormi

In [36]:
#String Concatenation
wrd_1 = "Machine"
wrd_2 = "Learning"
print(wrd_1+" " + wrd_2)

Machine Learning

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. Int
2. Float
3. String
4. bool
5. tuple

Mutable Objects
1. List
2. Set
3. Dictionary

#List

In [37]:
#List shoudl be included in square brackets [ ]
#it can store multiple values
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [38]:
#list can have multiple data types
my_list = [2,3,4,1.8, "my_list",True]
my_list

[2, 3, 4, 1.8, 'my_list', True]

In [39]:
#list are mutable -- > changable

my_list = [2,3,1.8,"English,True"]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English,True', 6]

In [40]:
#print elements of a list using their Index
print(my_list[0])
print(my_list[2])

2
1.8

In [41]:
# lists allow duplicate value
list_1 = [1,2,3,2,1,3]
print(list_1)

[1, 2, 3, 2, 1, 3]

In [43]:
print(len(list_1))

6

In [44]:
list_2 = []
print(list_2)
print(len(list_2))

[]
0

In [45]:
list_2.append(5)
list_2

[5]

In [47]:
#delet an item in a list
list_2 = [2,3,4,1.8, "my_list",True]
print(list_2)


del list_2[2]
print(list_2)

[2, 3, 4, 1.8, 'my_list', True]
[2, 3, 1.8, 'my_list', True]

In [48]:
#join two lists
list_3 = [1,2,3,4]
list_4 = [5,6,7,8]
list_5 = list_3 + list_4
list_5

[1, 2, 3, 4, 5, 6, 7, 8]

#Tuple

In [49]:
tuple_1 = (1,2,3)
print(tuple_1)
type(tuple_1)

(1, 2, 3)

tuple

In [50]:
#tuple allows multiple data types
tuple_2 = (1,2,3,5, True, "ML")
print(tuple_2)

(1, 2, 3, 5, True, 'ML')

In [52]:
#converting a list into tuple
my_list = [3,4,5,6]
my_tuple = tuple(my_list)
print(my_tuple)

(3, 4, 5, 6)

In [53]:
my_tuple[0]

3

In [54]:
#tuples are immutable ---> unchangable

In [55]:
print(len(my_tuple))

4

#Set

In [57]:
# set ----> Curly brackets
my_set = {1,2,3,4}
type(my_set)

set

In [58]:
#unordered
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [59]:
#convert list into set
list_5 = [4,5,6,7]

x = set(list_5)

In [60]:
x

{4, 5, 6, 7}

In [61]:
#set doesnpt allow duplicate values
set_3 = {1,1,2,3,4,5,63,4}
set_3

{1, 2, 3, 4, 5, 63}

Dictionary

In [62]:
#key_value pair
my_dict = {'name':'David','age':30,'country':'India'}
print(my_dict)
type(my_dict)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [65]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

David
30
India

In [66]:
#dictionary does not allow duplicate values

my_dict2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}

In [67]:
my_dict2

{'name': 'David', 'age': 30, 'country': 'India'}

#Operators in Python

1. Arthithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

#1. Arthimetic Operators

In [4]:
num_1 = 20
num_2 = 10

#addition
sum = num_1 + num_2
print(f"sum = :{sum}")

sum = :30

In [5]:
#subtraction
diff = num_1 - num_2
print(f" differnce = {diff}")

#multiplication
product = num_1 * num_2
print(f"product = {product}")


#division
quo = num_1/num_2
print('quotient = {quo}')


#exponent

exp = num_1**num_2
print(f"exponent = {exp}")


#modulus

mod = num_1 % num_2
print(f"reminder = {mod}")

 differnce = 10
product = 200
quotient = {quo}
exponent = 10240000000000
reminder = 0

# 2. Assignment Operatots

1. =
2. +=
3. -=
4. *=
5. /=
6. %=

In [6]:
a = 5
print(a)

5

In [7]:
a = 5
a +=5
print(a)

10

In [9]:
b =5
b -=2
b

3

# 3. Comparison Operators

In [13]:
a =5
b = 10

print(a == b) #equal to

False

In [14]:
print(a != b) #not equal to
print(a > b) #greater than
print(a< b) #less than
print(a >= b) # greater than or equal to
print(a <= b) # less than or equal to

True
False
True
False
True

4. Logical Operators


1. And
2. or
3. Not

In [15]:
a =10

print(a > 20 and a> 5)

False

In [16]:
print(a > 20 or a> 5)

True

In [17]:
print(not(a > 20 and a> 5))

True

# 5. Identity Operator

In [18]:
x =5
y =5
print(x is y)

True

In [19]:
x =5
y =10
print(x is y)

False

In [20]:
x =5
y =10
print(x is not y)

True

# 6. Membership Operator

1. in
2. not in

In [21]:
a =5
b = 10
c =[1,2,3,4,5]
print( a in c)
print(b in c)

True
False

In [22]:
a =5
b = 10
c =[1,2,3,4,5]
print( a not in c)
print(b not in c)

False
True

# IF ElSE

In [2]:
a = 30
b =50

if (a>b):
  print("a is the greatest num")
else:
  print("b is the greatest num")

b is the greatest num

if elif statement

In [3]:
a = 15
b =25
c = 30
if (a > b >c):
  print("a is the greatest num")
elif (a <b >c):
  print("b is the greatest num")
else:
  print("c is the greatest num")

c is the greatest num

nested if

In [4]:
a = 20
b =40
c = 60
if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

c is the greatest number

# Loops in Python

1. For loop
2. While loop

In [5]:
for i in range(5):
  laptop = int(input("Enter the price of laptop: "))

Enter the price of laptop2
Enter the price of laptop3
Enter the price of laptop4
Enter the price of laptop5
Enter the price of laptop6

In [6]:
num = [50,100,150,200]
for i in num:
  print(i)

50
100
150
200

In [11]:
#while loop
#if we are not sure about range we can use while
i = 0
while i < 10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

# Functions

FUnctions is a block of code that can be reused in a program

In [12]:
#Factorial of a number
num = int(input("Enter a number to find its factorial: "))
fact = 1
if num == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1,num+1):
    fact = fact*i
  print(f"factorial is {fact}")

Enter a number to find its factorial: 5
factorial is 120

In [13]:
def factorial(num):
  fact = 1
  if num == 0:
    return fact
  else:
    for i in range(1, num+1):
      fact = fact*i
    return fact

In [14]:
print(factorial(5))

120